import { FC } from 'react'
import './{{lowerCase name}}.css'

const {{pascalCase name}}: FC = () => {
  return <div>{{pascalCase name}} page created successfully</div>
}

export default {{pascalCase name}}
